<html>
    <head>
        <title>
            Excel file upload and processing : Django Example : ThePythonDjango.Com
        </title>
    </head>
    <body style="margin-top: 30px;margin-left: 30px;">
        <h1 class="display-4" style="text-align: center;">Upload New Data</h1>
       <hr>
        <form action="{% url "propAMC:index" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label style="color:red">{{ form.file.errors }}</label>
            Username - {{ form.username }}
            <br>
            <br>
            <label>Select Excel Address File - </label>
            <input type="file"
                   title="Upload excel file"
                   name="file"
                   id="img1" 
                   onchange="updateFileName()"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
            <p>
            <input type="text" name="file_name" id="file_name">
<script>

    function updateFileName() {
        var img1 = document.getElementById('img1');
        var file_name = document.getElementById('file_name');
        var fileNameIndex = img1.value.lastIndexOf("\\");

        file_name.value = img1.value.substring(fileNameIndex + 1);
    }
</script>
            <!-- <form method = "post" enctype="multipart/form-data"> 
                    {% csrf_token %} 
                    {{ form.as_p }}  -->
                    
            <button type="submit">Upload</button> 
        </form>
        <br><br>
        <hr>
        <h2 class="display-4" style="text-align: center;">Uploaded Data Below</h2>
        <p class="lead font-italic" style="text-align: center;"><u><b>(List Of All Data...)</b></u></p>
       <hr>
        <div class="container">
            <div class="col-md-10 offset-md-1 mt-5">
                <div class="jumbotron">
                    <!-- <p class="lead font-italic" style="text-align: center;"><u><b>List Of All Data...</b></u></p> -->
                    <!-- <hr class="my-4"> -->
                    {% for object in object_list %}
                    <li>
                        <a> Username - {{ object.username }} ------------- Click here for download a File - </a>
                        <a href='/media/{{ object.file }}'>{{ object.file }} </a>  
                    </li>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <hr>
    </body>
</html>
